* {
    box-sizing: border-box;
  margin: 0;
    padding: 0;
    }

.container {
    position: relative;
    box-sizing:border-box;
    display: block;
    height: 0 auto;
    width: 1140px;
    margin: 0 auto;
    top: 0px;
}

.promo{
    height: 800px;
    background:url('../img/bg/main_bg.png') center center/cover no-repeat;
    padding: 39px 0 62px 0;
}
.logo_img {
    display: block;
    margin: 0 auto;
}
.logo_text {
font-family:Roboto;
font-weight: 500;
font-size: 15px;
line-height: 24px;
text-transform: uppercase;
color: #FFFFFF;
text-align: center;
margin-top: 14px;
}
h1{
    margin-top: 53px;
}

.title{
    font-family: 'Roboto';
font-weight: 400;
font-size: 41px;
line-height: 24px;
text-transform: uppercase;
color: #F9BF3B;
text-align: center;
}
.title_big{
    text-align: center;
    font-family: 'Roboto';
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 80px;
    font-weight: 547px;
    line-height: 59px;
    margin-top: 21px;
}
h2.title{
    margin-top: 30px;
}
.promo .promo_text{
    padding: 5px 13px;
    margin: 25px 23px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
}
.promo .promo_text span{
    color: #F9BF3B;
    font-weight: 700;
    font-size: 21px;
    font-family: 'Roboto';
}
.promo .promo_btm{
    display: block;
    margin: 73px auto;
    width: 313px;
    height: 72px;
    background-image: linear-gradient(to top, #2798B9 0%, #3AB6DA 100%);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    text-align: center;
    border: 4p—Ö solid rgba(0, 0, 0 ,0.18);
    font-family: 'RobotoCondensed';
font-size: 21px;
line-height: 21px;
/* identical to box height, or 114% */

/* display: flex; */
align-items: center;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;

text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
cursor: pointer;
}

.more {
    margin-top: 73px;
}
.more_text{
    display: block;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0 auto;
}
.more .more_img{
    display: block;
    margin: 0 auto;
    margin-top: 14px;
}
.waiting{
    background: #EFEFEF;
    min-height: 604px;
    padding: 85px 0 75px 0;
    display: flex;
    justify-content: center;
}

.waiting .waiting_header, fifnish_header{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}
.fifnish_header{
    align-items: center;
text-align: center;
text-transform: uppercase;
color: #EFEFEF
}
.waiting .waiting_divider{
    padding-top: 5px;
}
.waiting .waiting_divider, .finish_divider{
    background: #F9BF3B;
    height: 4px;
    width: 217px;
    margin-top: 18px;
    margin: 0 auto;
}

.waiting .waiting_subheader{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    color: #4A4A4A;
    text-align: center;
    }
    .waiting .waiting_wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 45px;
        margin-right: 150px;
        margin-left: 150px;
    }
    .waiting .waiting_wrapper .waiting_item{
        width: 339px;
        text-align: center;
        display: block
        margin 45px 48px 26px 90px;
    }
    .waiting .waiting_wrapper .waiting_item .waiting_img{
        width: 100%;
    }
    .waiting .waiting_wrapper .waiting_item .waiting_img .waiting_descr{
        margin-top: 33px;
        font-family: 'Roboto';
        color: #4A4A4A;
        font-weight: 300;
        font-size: 15px;
        line-height: 21px;
    }
.optimization{
    min-height: 550px;
    padding: 102px 0 107px 0;
}
.optimization .optimization_header{
    margin-left: 391px;
    font-family: 'Roboto';
   
    font-weight: 900;
    font-size: 29px;
    line-height: 30px;
    text-transform: uppercase;
    color: #299CBD;
}
.optimization .optimization_text{
    margin-top: 25px;
    margin-left: 391px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
}
.optimization .optimization_text span{
    font-family: 'Roboto';
    font-weight: 700;
}
.optimization .optimization_img{
    position: absolute;
    top: -48px;
    left:-240px;
    z-index: -1;
    margin-right: 50px;
    margin-left: 50px;
}
.finish{
    min-height: 447px;
    padding: 86px 0 79px 0;
    background:url(/src//img/second_bg.png) center center /cover no-repeat;
}
.finish .finish_wrapper{
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}
.finish .finish_item{
    width: 204px;
   display: block;
   margin: 0 auto;
}
.finish .finish_round{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 118px;
    background: #B4E2FF;
    border-radius: 100%;
}
.finish .finish_item .finish_descr{
    margin: 25 auto auto auto;
    margin-top: 25px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    align-items: center;
    color: #EFEFEF;


}
.gift{
    min-height: 447px;
    padding: 88px 0 45px 0;
    width: 1922px;
    background: #EFEFEF;
}
.gift .gift_img{
    width: 154px;
    height: 174px;
    margin: 0 auto;
}
.gift .gift_descr{
    font-family: 'Roboto';
    margin-top: 80px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #252525;
}
.gift_btn{
    margin: 51px auto;
    justify-content: center;
    height: 72px;
    left: 805px;
    top: 471px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    font-family: 'RobotoCondensed';
    font-size: 21px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    display: flex;
    justify-content: center;
}
.finish_2 .vebinar_img{
    display: flex;
    justify-content: center;
}
.footer .footer_bgr{
    background: #1A1A1A;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: #888888;
    display: flex;
    justify-content: center;
    height: 169px;
}